<div class="container">
  <div class="d-flex justify-content-center">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFIM8QiiSO-qsUNlunwwFYOtPRkxEF85qr2w&usqp=CAU"
      width="30%"
    />
  </div>
  <div class="d-flex justify-content-center">
    <blockquote class="blockquote text-center">
      <p class="mb-0">Users are our top Priority.</p>
    </blockquote>
  </div>
  <br />
  <div class="d-flex justify-content-center">
    <blockquote class="blockquote text-center">
      <p class="mb-0">As a Admin Strive towards providing a better service.</p>
    </blockquote>
  </div>
  <div class="d-flex justify-content-center">
    <blockquote class="blockquote text-center">
      <p class="mb-0">Protect the data of our <b>Users</b></p>
    </blockquote>
  </div>
</div>
