<div class="container">
    <h2>Add Employee</h2>
    <form [formGroup]="addRef" (ngSubmit)="addEmp()">
        <h2>Sign Up</h2>
        <label>Employee ID: </label>
        <input type="text" formControlName="id"/><br/>
        <label>First Name: </label>
        <input type="text" formControlName="first"/><br/>
        <label>Last Name: </label>
        <input type="text" formControlName="last"/><br/>
        <label>Password: </label>
        <input type="password" formControlName="password"/><br/>
        <label>Email: </label>
        <input type="email" formControlName="email"/><br/>
        <input type="submit" value="submit" [disabled]="!addRef.valid"/>
        <input type="reset" value="reset"/>
    </form>
</div>