<h2>Welcome to the Employee Panel</h2>
<p>User: {{username}}</p>
<div class="btn-group" role="group">
    <input type="button" value="Send Request" class="btn btn-primary">
    <input type="button" value="Update Order Status" class="btn btn-outline-primary">
    <input type="button" value="Unlock Users" class="btn btn-success">
    <input type="button" value="Edit Profile" class="btn btn-outline-success">
    <input type="button" value="Sign Out" class="btn btn-outline-danger" (click)="backToSignIn()">
</div>