<div class="container">
    <div class="row d-flex flex-column">
        <div class="col-3">
            <form [formGroup]="signInRef" class="form-group" (ngSubmit)="signIn()">
                <h2>Sign In</h2>
                <label>Username: </label>
                <input type="text" class="form-control" formControlName="username" /><br />
                <label>Password: </label>
                <input type="password" class="form-control"  formControlName="password" /><br />
                <input type="submit" value="Submit" class="m-1 btn btn-primary "
                    [disabled]="!signInRef.valid" />
                <input type="reset" class="m-1 btn btn-warning " value="Reset" />
                <br>
                <input type="button" value="Sign Up" class="btn btn-outline-primary" (click)="goToUserSignUp()">
            </form>
        </div>
        <div class="col-3">
            <span class="text-warning"> {{msg}}</span>
        </div>
    </div>
</div>




