<div class="col d-flex justify-content-center" *ngIf="adminLoginStatus">
  <div class="card" style="width: 25rem">
    <div class="card-header"></div>
    <div class="card-body align-items-center">
      <form class="p-3 bg-light" [formGroup]="productForm" novalidate>
        <div class="mb-3">
          <input
            type="text"
            name="productName"
            formControlName="productName"
            [ngClass]="{
              'is-invalid': f.productName.touched && f.productName.invalid
            }"
            [(ngModel)]="product.productName"
            placeholder="Product Name"
          />
          <div
            *ngIf="f.productName.touched && f.productName.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.productName.errors.required">
              Name is required and must be a valid name
            </div>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="number"
            name="ProductId"
            formControlName="ProductId"
            [ngClass]="{
              'is-invalid': f.ProductId.touched && f.ProductId.invalid
            }"
            [(ngModel)]="product.ProductId"
            placeholder="Product ID"
          />
          <div
            *ngIf="f.ProductId.touched && f.ProductId.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.ProductId.errors.required">
              Product ID is required and must be a valid ID
            </div>
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            name="ProductPrice"
            formControlName="ProductPrice"
            [ngClass]="{
              'is-invalid': f.ProductPrice.touched && f.ProductPrice.invalid
            }"
            [(ngModel)]="product.ProductPrice"
            placeholder="Price"
          />
          <div
            *ngIf="f.ProductPrice.touched && f.ProductPrice.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.ProductPrice.errors.required">Price is required</div>
          </div>
        </div>

        <div class="mb-3">
          <input
            type="text"
            name="Description"
            formControlName="Description"
            [ngClass]="{
              'is-invalid': f.Description.touched && f.Description.invalid
            }"
            [(ngModel)]="product.Description"
            placeholder="Description"
          />
          <div
            *ngIf="f.Description.touched && f.Description.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.Description.errors.required">
              Description is required
            </div>
          </div>
        </div>

        <div class="mb-3">
          <input
            type="text"
            name="Quantity"
            formControlName="Quantity"
            [ngClass]="{
              'is-invalid': f.Quantity.touched && f.Quantity.invalid
            }"
            [(ngModel)]="product.Quantity"
            placeholder="Quantity"
          />
          <div
            *ngIf="f.Quantity.touched && f.Quantity.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.Quantity.errors.required">
              Description is required
            </div>
          </div>
        </div>

        <div class="mb-3">
          <input
            type="text"
            name="product_image"
            formControlName="product_image"
            [ngClass]="{
              'is-invalid': f.product_image.touched && f.product_image.invalid
            }"
            [(ngModel)]="product.product_image"
            placeholder="Image"
          />
          <div
            *ngIf="f.product_image.touched && f.product_image.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="f.product_image.errors.required">Image Link is required</div>
          </div>
        </div>

        <input
          type="submit"
          value="Add Product"
          (click)="onsubmit()"
          [disabled]="!productForm.valid"
          class="btn btn-primary"
        />
      </form>
    </div>
  </div>
</div>
