<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <h2>Add Employee</h2>
    <form action="create" method="POST">
        <label>Employee First Name</label>
        <input type="text" name="first" required/><br/>
        <label>Employee Last Name</label>
        <input type="text" name="last" required/><br/>
        <label>Email Adress</label>
        <input type="email" name="emailAdd" required/><br/>
        <input type="submit" value="Create Employee"/>
        <input type="reset" value="reset"/>
    </form>
</body>
</html>