<div class="container">
    <div class="row d-flex flex-column">
        <div class="col-6">
            <h2>Update Order Status</h2>
            <!--table to populate all user cart and button to update-->
            <table class="table">
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Order Status</th>
                </tr>
                <tr *ngFor="let order of orders">
                    <td>{{order.orderID}}</td>
                    <td>{{order.email}}</td>
                    <td>{{order.orderStatus}}</td>
                    <td><input type="button" value="Update" class="btn btn-outline-primary" (click)="updateStatus(order.email,order.orderStatus)"></td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            
    <div *ngIf="flag" class='container'>
        <form [formGroup]="orderRef" class="form-group" (ngSubmit)="nowUpdateOrderStatus()">
            <label>customerEmail</label>
            <input type="text" class="form-control" formControlName="email" [(ngModel)]="email" name="email"
                readonly /><br />
            <label>Order Status</label>
            <select formControlName="operation" class="form-control">
                <option [ngValue]="null" disabled>Select</option>
                <option *ngFor="let task of tasks" [ngValue]="task.name">{{task.name}}</option>
            </select>
            <br />
            <input type="submit" class="btn btn-primary mb-3" value="Update Order Status" />
            <br />
            <input type="reset" class="btn btn-primary" value="reset" />
        </form>
    </div>
    <span style="color:red">{{updateMsg}}</span>
        </div>
    </div>


</div>