<div>
    <h2>Order Status for {{user}}</h2>
    <table border="1" class="table table-bordered table-hover">
        <tr *ngFor = "let order of orders">
            <td>Order:
                <table class="table-plain">
                    <tr>
                        <td>Product Name:</td>
                        <td>Quantity:</td>
                        <td>Product Price:</td>
                        <td>Product ID:</td>
                    </tr>
                    <tr *ngFor = "let product of order.Order">
                        <td>{{product.productName}}</td>
                        <td>{{product.Quantity}}</td>
                        <td>{{product.ProductPrice}}</td>
                        <td>{{product.ProductId}}</td>
                    </tr>
                </table>
            </td>
            <td>Order ID:
                <div>{{order.orderID}}</div>
            </td>
            <td>Total Amount: 
                <div>${{order.totalPrice}}</div>
            </td>
            <td>Order Status:
                <div>{{order.orderStatus}}</div>
            </td>
        </tr>
    </table>
    <!-- {{msg}} -->
</div>
<!-- <table border="5px" bordercolor="#8707B0">
    <tr >
        <td>
            <table border="5px" bordercolor="#F35557">
                <h4 align="center">Order:</h4>
                <tr>
                    <td>Product Name:</td>
                    <td>Product Price:</td>
                    <td>Product ID: </td>
                </tr>
                <tr>
                    <td>nested table</td>
                    <td>nested table</td>
                </tr>
            </table>
        </td>
        <td>
            Left side of the main table
        </td>
    </tr>
</table> -->