<div>
    <h2>View Tickets</h2>
    <!--table to populate all user cart and button to update-->
    <table border="1">
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>Customer Email</th>
            <th>lock Status</th>
            <th>Details</th>
        </tr>
        <tr *ngFor="let status of ticket" >
            <td>{{status.fName}}</td>
            <td>{{status.lName}}</td>
            <td>{{status.email}}</td>
            <td>{{status.lockStatus}}</td>
            <td>{{status.ticket}}</td>
            <td><input type="button" value="Update" (click)="requestUnlock(status.email,status.lockStatus)"></td>
        </tr>
    </table>

    <div *ngIf="flag">
        <form [formGroup]="unlockRef" (ngSubmit)="unlockStatus()">
            <label>customerEmail</label>
            <input type="text" formControlName="email" [(ngModel)]="email" name="email" readonly/><br/>
            <label>Order Status</label>
            <select formControlName="operation">
                <option [ngValue]="null" disabled>Select</option>
                <option *ngFor="let task of tasks" [ngValue]="task.name">{{task.name}}</option>
             </select>
             <br/>
            <input type="submit" value="Update Unlock Decision"/>
            <br/>
            <input type="reset" value="reset"/>
        </form>
    </div>
    <span style="color:red">{{updateMsg}}</span>
</div>
