<form [formGroup]="deleteRef" (ngSubmit)="deleteEmployee()">
    <div class="container-fluid">
        <div class = "row">
            <div class = "col-3">
                <h2>Delete Employee</h2>
            </div>
        </div>
        <div class = "row">
            <div class = "col-2">
                <label>Employee ID: </label>
            </div>
            <div class = "col-2">
                <input type="text" formControlName="id"/><br/>
            </div>
        </div>
        <div class = "row">
            <div class = "col-2">
                <input type="submit" value="Submit" class="m-1 btn btn-primary container-fluid" [disabled]="!deleteRef.valid"/>
            </div>
            <div class = "col-2">
                <input type="reset" class="m-1 btn btn-warning container-fluid" value="Reset"/>
            </div>
        </div>
    </div>
</form>
Message: {{msg}}