<div class="container" *ngIf="adminLoginStatus">
  <form>
    <div class="mb-3">
      <label for="fName" class="form-label">User's First Name</label>
      <input
        type="text"
        class="form-control"
        name="fName"
        [(ngModel)]="user.fName"
        placeholder="Enter First Name"
      />
    </div>
    <div class="mb-3">
      <label for="lName" class="form-label">User's Last Name</label>
      <input
        type="text"
        class="form-control"
        name="lName"
        [(ngModel)]="user.lName"
        placeholder="Enter Last Name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">User Email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        [(ngModel)]="user.email"
        placeholder="Enter Email"
      />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="user.username"
        placeholder="Enter Username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="text"
        class="form-control"
        name="password"
        [(ngModel)]="user.password"
        placeholder="Enter Password"
        readonly
      />
    </div>
    <div class="mb-3">
      <label for="Address" class="form-label">User Address</label>
      <input
        type="text"
        class="form-control"
        name="address"
        [(ngModel)]="user.address"
        placeholder="Enter Address"
      />
    </div>
    <div class="mb-3">
      <label for="accountNum" class="form-label">User Account Number</label>
      <input
        type="text"
        class="form-control"
        name="accountNum"
        [(ngModel)]="user.accountNum"
        placeholder="Enter Account Number"
      />
    </div>

    <div class="mb-3">
      <input
        type="button"
        value="Update User"
        class="btn btn-secondary"
        (click)="updateUser()"
      />
      |<button type="button" class="btn btn-secondary" (click)="deleteUser()">
        Delete
      </button>
    </div>
  </form>
</div>
