<div class="container">
    <h2>Welcome to the User Dashboard</h2>
    <p>User: {{username}}</p>
    <div class="btn-group" role="group">
        <input type="button" value="Cart" class="btn btn-primary" (click)="OrderGrocery()">
        <input type="button" value="Order Status" class="btn btn-outline-primary" (click)="goToOrderStatus()">
        <input type="button" value="Edit Profile" class="btn btn-success" (click)="goToEditProfile()">
        <input type="button" value="Funds" class="btn btn-outline-success" (click)="goToUserFunds()">
        <input type="button" value="Sign Out" class="btn btn-outline-danger" (click)="backToSignIn()">
    </div>
</div>