<div class="container" *ngIf="adminLoginStatus">
  <table class="table table-hover">
    <thead></thead>
    <tbody *ngFor="let order of orders">
      <tr>
        <td><b>Order Id</b></td>
        <td><b>Username</b></td>
        <td><b>Email</b></td>
        <td><b>Actions</b></td>
      </tr>
      <tr>
        <td>{{ order._id }}</td>
        <td>{{ order.user }}</td>
        <td>{{ order.email }}</td>
        <td>
          <button
            type="submit"
            class="btn btn-sm btn-danger"
            (click)="deleteOrder(order._id)"
          >
            Delete/Deny Order
          </button>
        </td>
      </tr>
      <label><b>Order:</b></label>
      <tr>
        <td>Item Name</td>
        <td>Quantity</td>
      </tr>
      <tr *ngFor="let item of order.Order">
        <td>{{ item.productName }}</td>
        <td>{{ item.Quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
