<div class="container">
    <div class="row d-flex flex-column">
        <div class="col-3">
            <h2>Employee Sign In</h2>
            <form [formGroup]="signInRef" (ngSubmit)="checkUser()" class="form-group">
                <label>Username: </label>
                <input type="text" formControlName="user" class="form-control"><br>
                <label>Password: </label>
                <input type="password" formControlName="pass" class="form-control"><br>
                <input type="submit" value="Submit" class="btn btn-outline-success mr-3">
                <input type="reset" value="Reset" class="btn btn-outline-info">
            </form>
        </div>
        <div class="col-3">
            <span style="color: red">{{msg}}</span>
        </div>
    </div> 
</div>